/* css document*/

/* background-image-fullscreen */
body#paint-back {
  background: url(../img/star.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* paint-form */
#paint-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 530px;
  height: 600px;
  border-radius: 40px;
  border: 20px solid #0000ff;
  background: url(../img/blue-star.jpg);
}

/* paint-btn */
#paint-btn {
  position: relative;
  top: 20px;
  height: 50px;
  -moz-box-shadow:inset 0px 1px 0px 0px #0daaff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #0daaff;
  box-shadow:inset 0px 1px 0px 0px #0daaff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0daaff), color-stop(1, #5efaff));
  background:-moz-linear-gradient(top, #0daaff 5%, #5efaff 100%);
  background:-webkit-linear-gradient(top, #0daaff 5%, #5efaff 100%);
  background:-o-linear-gradient(top, #0daaff 5%, #5efaff 100%);
  background:-ms-linear-gradient(top, #0daaff 5%, #5efaff 100%);
  background:linear-gradient(to bottom, #0daaff 5%, #5efaff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0daaff', endColorstr='#5efaff',GradientType=0);
  background-color:#0daaff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #04b7d6;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #1fd9f2;
}

#paint-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5efaff), color-stop(1, #0daaff));
	background:-moz-linear-gradient(top, #5efaff 5%, #0daaff 100%);
	background:-webkit-linear-gradient(top, #5efaff 5%, #0daaff 100%);
	background:-o-linear-gradient(top, #5efaff 5%, #0daaff 100%);
	background:-ms-linear-gradient(top, #5efaff 5%, #0daaff 100%);
	background:linear-gradient(to bottom, #5efaff 5%, #0daaff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5efaff', endColorstr='#0daaff',GradientType=0);
	background-color:#5efaff;
}

#paint-btn:active {
	position:relative;
	top:1px;
}


/* ContentsArea
-------------------------- */
#contents {
    margin: 0 auto;
    padding: 10px 0 50px 0;
    width: 100%;
}
 
p {
    padding: 10px 0;
}

/* modal背景色の設定*/
#canvas-modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.close_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999px;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}
.modal_window {
    top: 50%;
    left: 50%;
    margin: -350px 0 0 -640px;
    width: 1275px;
    height: 700px;
    text-align: center;
    display: block;
    background: #fff;
    position: absolute;
    z-index: 2;
    -webkit-transform: scale(0);
}
.modal_window p {
    padding: 0 15px 15px 15px;
    font-size: 12px;
    line-height: 160%;
    text-align: left;
}

/* CSS3 ModalWindow SET
-------------------------- */
@-webkit-keyframes modalFadeIn {
    0% {opacity: 0;display: block;}
    100% {opacity: 1;}
}
div#modal div:target {
    -webkit-animation-name: modalFadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    display: block;
}
 
@-webkit-keyframes modalScale {
    0% {opacity: 0;display: block; -webkit-transform:scale(0);}
    100% {opacity: 1; -webkit-transform:scale(1);}
}
div#modal div:target .modal_window {
    -webkit-animation-name: modalScale;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform:scale(1);
    opacity: 1;
    display: block;
}

/* カラーパレット */

body .btn {
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border: 1px solid #DDD;
  box-shadow: 0 5px 0 #0e8c73;
  margin: 5px 2px 5px 2px; }

/*# sourceMappingURL=paint.css.map */

.panel {
 height: 500px;    
}